@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

:root {
    --primary-color: #52796F;
    --secondary-color: #CAD2C5;
    --accent1-color: #2F3E46;
    --accent2-color: #84A98C;
    --accent3-color: #354F52;
  
    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Heebo', sans-serif;
  
    --nav-background-color: #CAD2C5;
    --nav-link-color: #2F3E46;
    --nav-hover-link-color: #84A98C;
    --nav-hover-background-color: #354F52;
  }

body {
    max-width: 960px;
    padding: 20px;
    text-decoration: none; 
    margin: auto;

}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

nav.sociallinks {
    text-decoration: none;
}

h1{
    position: absolute;
    top: 50px;
    right: 250px;
    margin: auto;
    padding: 10px;
    background-color: #CAD2C5;
}
article{
    position: absolute;
    top: 150px;
    right: 80px;
    left: 80px;
    color: #CAD2C5;
    background:#52796F;
    padding: 5px;
}


article img{
    float: right;
    max-width:200px;
    max-height: auto;
    padding: 10px;
}



img {
    max-width: 100%;
}

div.hero {
    position: relative;
    background-image: url('images/hero2.jpg');
    padding: 20px;   
}