@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

  
:root {
    --primary-color: #52796F;
    --secondary-color: #CAD2C5;
    --accent1-color: #2F3E46;
    --accent2-color: #84A98C;
    --accent3-color: #354F52;
  
    --heading-font: 'Rock Salt', serif;
    --paragraph-font: 'Heebo', sans-serif;
  
    --nav-background-color: #CAD2C5;
    --nav-link-color: #2F3E46;
    --nav-hover-link-color: #84A98C;
    --nav-hover-background-color: #354F52;
  }


body {
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}